<div class="container content">
  <div class="row">
    <div class="col s12">
      <h1> Tennis Kata </h1>
    </div>
  </div>
  <div class="row">
    <div class="col s4">
      <h3> Player 1: {{sayScore(p1)}} </h3>
    </div>
    <div class="col s4">
        <h3  style="margin 12px; padding 12px; border: solid #888 2px;"> {{state.getCurrentStateName()}} </h3>
    </div>
    <div class="col s4">
      <h3> Player 2: {{sayScore(p2)}} </h3>
    </div>
  </div>
  <div class="row">
    <div class="col s4">
      <button class="btn waves-effect waves-light" (click)="point('1')" [disabled]="!state.hasTransition('1')"> Point Player 1 </button>
    </div>
    <div class="col s4">
      <button class="btn waves-effect waves-light" (click)="reset()" [disabled]="!state.isFinalState()"> Reset </button>
    </div>
    <div class="col s4">
      <button class="btn waves-effect waves-light" (click)="point('2')" [disabled]="!state.hasTransition('2')"> Point Player 2 </button>
    </div>
  </div>
</div>
